@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$base-color: #041E50;


body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif; 
}

