.instrumentos{
    padding: 80px 120px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.novidade1{
    background-image: url('../imgs/instrumentos.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: 600px;
    background-size: cover;
    
}