$base-color: #041E50;

.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        display: flex;
        justify-content: space-between;
        align-items:center;
        background-color: #FFFFFF;
        width: 760px;
        height: 355px;
        border-radius: 5px;

        #close{
            color: $base-color;
            position: absolute;
            display: block;
            top: 210px;
            border: none;
            right: 310px;   
            font-size: 30px;
            background-color: rgba($color: #000000, $alpha: 0);

            -moz-transition: none;
            -webkit-transition: none;
            transition: none;

            &:hover{
                -moz-transform: none;
                -webkit-transform: none;
                transform: none;
            }
        }

        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            padding: 0 80px;
            text-align: justify;

            .imagem{
                height: 262px;
                width: 329px;
            }

            .info{
                height: 262px;
                width: 290px;
                margin: 0;
            }

            h2{
                font-weight: 400;
                font-size: 20px;

            }
            h1{
                font-weight: 700;
                color: $base-color;
            }

            h3{
                font-size: 12px;
                font-weight: 400;
                text-decoration: underline $base-color;

                span{
                    text-decoration: none;
                }
            }

            p{
                font-size: 10px;
                font-weight: 400;
            }

            #adicionar{
                background-color: $base-color;

                &:hover{
                    color: #FFFFFF;
                }
            }
        }

    }

    background-color: rgba($color: #000000, $alpha: 0.7);
}